* {
    margin: 0;
}

#container {
    display: none;
    justify-content: center;
    align-content: center;
}

form {
    margin: 0;
    position: absolute;
    top: 50%;
    height: 300px;
    width: 250px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: green;
}

#close {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
}
.bookshelf {
    display: flex;
}

.book {
    background: red;
    display: inline-flex;
    border: 0.1em solid blue;
    aspect-ratio: 1;
    width: 14em;
}