* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    padding: 10px;
    color: white;
    background: rgb(4, 48, 2);
}

#add {
    margin-left: 20px;
    aspect-ratio: 1;
    width: 40px;
    border: 0;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
}

#add:hover {
    size: 1.1;
}

.container {
    display: none;
    justify-content: center;
    align-content: center;
}

form {
    margin: 0;
    position: absolute;
    top: 50%;
    height: 300px;
    width: 250px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgb(11, 107, 7);
    color:white;
    padding: 10px;
    border: 0.15em solid black;
    border-radius: 2%;
    line-height: 1.5em;
}

.close {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
}
.bookshelf {
    display: grid;
    columns: 5;
}

input {
    width: 97%;
}

button {
    width: 100%;
}

#read {
    width: 20px;
    height: 15px;
  }

.table {
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    grid-template-columns: repeat(8, 10%);
}

.table.top {
    background:rgb(4, 48, 2);
    color: white;
}

.span2 {
    grid-column: span 2;
}

.cell {
    border-bottom: 1px solid rgb(4, 48, 2);
}
